<ion-view title="mainPage" hide-nav-bar="true">
  <ion-content class="main-bg">
    <div class="row">
      <div class="col main-padding">
        <h1 class="main-header">ATTENDAPP</h1>
        <h3 class="main-logo"><i class="icon ion-clipboard"></i> + <i class="icon ion-iphone"></i> = <i class="icon ion-happy"></i></h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a class="button button-block button-light button-outline" href="#/signup">Sign Up</a>
      </div>
      <div class="col">
        <a class="button button-block button-light button-outline" href="#/login">Login</a>
      </div>
    </div>
  </ion-content>
</ion-view>