<ion-view title="Welcome" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <p>Welcome <strong>{{ user.username }}!</strong></p>
    <ion-option-button class="button-positive" ng-click="scanQRCode()">
      <i class="glyphicon glyphicon-qrcode"></i> <strong>Scan in</strong>
    </ion-option-button>
    <ion-list show-delete="shouldShowDelete">
      <ion-item ng-repeat="attendance in attendances">
      	<ion-delete-button class="ion-minus-circled"></ion-delete-button>
        {{ attendance.name }} signed in at {{ attendance.created_at | date:'h:mma' }}
      </ion-item>
    </ion-list>
    <ion-toggle ng-model="shouldShowDelete">
      Show Delete?
    </ion-toggle>
  </ion-content>
</ion-view>
