<ion-view title="Welcome" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <h1>Welcome {{ user.username }}!</h1>
    <p><a ng-click="scanQRCode()">Scan in</a></p>
    <ion-list show-delete="shouldShowDelete">
      <ion-item ng-repeat="attendance in attendances">
      	<ion-delete-button class="ion-minus-circled"></ion-delete-button>
        {{ attendance.name }} signed in at {{ attendance.created_at | date:'h:mma on MM/dd/yyyy' }}
      </ion-item>
    </ion-list>
    <ion-toggle ng-model="shouldShowDelete">
      Show Delete?
    </ion-toggle>
  </ion-content>
</ion-view>
